doctype html
html
  head
    block head
      block title
        title TaskCluster Tools
      link(rel="stylesheet", href="/lib/assets/bootstrap/css/bootstrap.css")
      link(rel="stylesheet", href="/lib/assets/bootstrap/css/bootstrap-theme.css")
      link(rel="stylesheet", href="/lib/assets/layout.css")
      // Credits to realfavicongenerator.net
      link(rel="shortcut icon", href="/lib/assets/icons/favicon.ico")
      link(rel="apple-touch-icon", sizes="57x57",
           href="/lib/assets/icons/apple-touch-icon-57x57.png")
      link(rel="apple-touch-icon", sizes="114x114",
           href="/lib/assets/icons/apple-touch-icon-114x114.png")
      link(rel="apple-touch-icon", sizes="72x72",
           href="/lib/assets/icons/apple-touch-icon-72x72.png")
      link(rel="apple-touch-icon", sizes="144x144",
           href="/lib/assets/icons/apple-touch-icon-144x144.png")
      link(rel="apple-touch-icon", sizes="60x60",
           href="/lib/assets/icons/apple-touch-icon-60x60.png")
      link(rel="apple-touch-icon", sizes="120x120",
           href="/lib/assets/icons/apple-touch-icon-120x120.png")
      link(rel="apple-touch-icon", sizes="76x76",
           href="/lib/assets/icons/apple-touch-icon-76x76.png")
      link(rel="apple-touch-icon", sizes="152x152",
           href="/lib/assets/icons/apple-touch-icon-152x152.png")
      link(rel="apple-touch-icon", sizes="180x180",
           href="/lib/assets/icons/apple-touch-icon-180x180.png")
      link(rel="icon", type="image/png", sizes="192x192",
           href="/lib/assets/icons/favicon-192x192.png")
      link(rel="icon", type="image/png", sizes="160x160",
           href="/lib/assets/icons/favicon-160x160.png")
      link(rel="icon", type="image/png", sizes="96x96",
           href="/lib/assets/icons/favicon-96x96.png")
      link(rel="icon", type="image/png", sizes="16x16",
           href="/lib/assets/icons/favicon-16x16.png")
      link(rel="icon", type="image/png", sizes="32x32",
           href="/lib/assets/icons/favicon-32x32.png")
      meta(name="msapplication-TileColor", content="#222222")
      meta(name="msapplication-TileImage",
           content="/lib/assets/icons/mstile-144x144.png")
      meta(name="msapplication-config",
           content="/lib/assets/icons/browserconfig.xml")
  body
    div#navbar
    div.container-fluid#container
      block content